/* Dark mode colors. */
:root {
    --sl-color-accent-low: #3d1800;
    --sl-color-accent: #a64c00;
    --sl-color-accent-high: #eebca1;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #efeded;
    --sl-color-gray-2: #c9c8c7;
    --sl-color-gray-3: #a6a3a2;
    --sl-color-gray-4: #5a5756;
    --sl-color-gray-5: #3a3836;
    --sl-color-gray-6: #282625;
    --sl-color-black: #191817;
}
/* Light mode colors. */
:root[data-theme="light"] {
    --sl-color-accent-low: #f4ceb9;
    --sl-color-accent: #873d00;
    --sl-color-accent-high: #532200;
    --sl-color-white: #191817;
    --sl-color-gray-1: #282625;
    --sl-color-gray-2: #3a3836;
    --sl-color-gray-3: #5a5756;
    --sl-color-gray-4: #8e8b89;
    --sl-color-gray-5: #c3c1c1;
    --sl-color-gray-6: #efeded;
    --sl-color-gray-7: #f7f6f6;
    --sl-color-black: #ffffff;
}
